export const shippingInfo = {
    "email": "EMAIL@GMAIL.COM",
    "firstname": "FIRSTNAME",
    "lastname": "LASTNAME",
    "street": "STREET",
    "housenumber": "123",
    "zipcode": "1234AB",
    "city": "CITY",
    "phone": "0612345678",
    "bank": "INGBNL2A"
}